# A single .jar file can contain multiple plugins, specified in separate lines.
#
# The format is: <menu>, "<menu label>", <class name>
#
# If something like ("<arg>") is appended to the class name, the setup() method
# will get that as arg parameter; otherwise arg is simply the empty string.

Immunofluorescence, "Process IF Images", com.mycompany.imagej.Process_IF_Images
Immunofluorescence, "Z-Projection IF", com.mycompany.imagej.Z_Projection_IF
Immunofluorescence, "Analyze Intensity", com.mycompany.imagej.Analyze_Intensity
Immunofluorescence, "Analyze Intensity manualDAPI", com.mycompany.imagej.Analyze_Intensity_manualDAPI
Immunofluorescence, "Combine Analysis Summaries", com.mycompany.imagej.Combine_Analysis_Summaries